<div class="row">
  <div class="col-md-6">
    <h1>All films</h1>
  </div>
  <div class="col-md-6 text-right">
    <button id="submit-new-film" (click)="openNewFilmForm()" class="btn btn-primary"><span
      class="glyphicon glyphicon-film" aria-hidden="true"></span> Submit new
    </button>
  </div>
</div>


<div *ngIf="newFilmFormSubmited" class="alert alert-success fade in">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <strong>Success!</strong> Your film has been sent successfully.
</div>

<div *ngIf="newFilmFormVisibility">
  <film-new-form (formVisibilityNotify)="onNewFilmFormVisibilityNotify($event)"
                 (newFilmNotify)="onNewFilmNotify($event)"></film-new-form>
</div>


<div class="row">
  <div class="card-deck">

    <film-list-item *ngFor="let filmItem of films" [film]="filmItem"></film-list-item>

  </div>
</div>
<div *ngIf="loaded && films.length === 0">
  <p>No films found</p>
</div>
<div *ngIf="!loaded" id="heroku-msg">
  <h2>Please wait</h2>
  <p>Backend App is hosted in <a href="https://www.heroku.com/pricing" target="_blank">Heroku free plan</a>. <strong>Dyno
    is waking up...</strong></p>
</div>
